<div class="container page-footer font-small blue pt-4">
  <!-- Footer Links -->
  <div class="container-fluid text-center text-md-left">
    <div class="row">
      <div class="col-md-4 mt-md-0 mt-4">
        <img class="text-uppercase" src="../../../assets/images/logo.png" />

        <ul class="">
          <div class="footer-social-icon">
            <a
            href="https://www.instagram.com/officialspikevine/"
            target="_blank"
            >
            <i class="fa fa-instagram google-bg"></i
          ></a>
            <a href="https://www.facebook.com/spikevine" target="_blank"
              ><i class="fa fa-facebook facebook-bg"></i
            ></a>
            <a href="https://twitter.com/SpikeVine" target="_blank"
              ><i class="fa fa-twitter twitter-bg"></i
            ></a>
            <a
              href="https://www.linkedin.com/officialspikevine/"
              target="_blank"
              >
              <i class="fa fa-linkedin linkedin-bg  blue-color" aria-hidden="true"></i></a>
          </div>
        </ul>
      </div>

      <hr class="clearfix w-100 d-md-none pb-3" />

      <div class="col-md-2 mt-md-0 mt-3">
        <h5 class="text-uppercase">Company</h5>

        <ul class="list-unstyled">
          <li>
            <a href="#!">About</a>
          </li>
          <li>
            <a href="#!">Ambassadors</a>
          </li>
          <li>
            <a href="#!">Success Stories</a>
          </li>
          <li>
            <a href="#!">Careers</a>
          </li>
        </ul>
      </div>
      <div class="col-md-2 mt-md-0 mt-3">
        <h5 class="text-uppercase">Products</h5>

        <ul class="list-unstyled">
          <li>
            <a href="#!">Blog</a>
          </li>
          <li>
            <a href="#!">Brand</a>
          </li>
          <li>
            <a href="#!">White papers</a>
          </li>
          <li>
            <a href="#!">Creators </a>
          </li>
        </ul>
      </div>

      <div class="col-md-2 mt-md-0 mt-3">
        <h5 class="text-uppercase">Resources</h5>

        <ul class="list-unstyled">
          <li>
            <a href="#!">Help center</a>
          </li>
          <li>
            <a href="#!">Contact us</a>
          </li>
        </ul>
      </div>
    </div>
  </div>
</div>
<div class="footer-copyright footer">
  <div class="copyright">
    <div class="float-left">© 2021 SpikeVine. All rights reserved.</div>
    <div class="float-right right">
      <a href="#"> Privacy Policy </a>
      <a href="#"> Terms & conditions </a>
    </div>
    <div class="clearfix"></div>
  </div>
</div>
