<div class="bfy-header">Best For You</div>
<div class="container">
  <div class="row">
    <div class="col-sm-6 best-for-you">
      <img
        src="../../../assets/images/IMG 1.png"
        class="img-responsive"
        alt="Girl in a jacket"
      />
      <div class="content">
        <p>SpikeVineSpikeVineSpikeVineSpikeVineSpikeVine</p>
        <p>
          SpikeVineSpikeVineSpikeVineSpikeVineSpikeVine
        </p>
        <span class="update">By SpikeVine, 27 Oct 2021 </span>
      </div>
    </div>
    <div class="col-sm-4 best-for-you">
      <img
        src="../../../assets/images/IMG 2.png"
        class="img-responsive"
        alt="Girl in a jacket"
      />
      <div class="content">
        <p>spikvine spikvine spikvine spikvine spikvine spikvine</p>
        <p>
          spikvine spikvine spikvine spikvine spikvine
        </p>
        <span class="update">By SpikeVine, 27 Oct 2021 </span>
      </div>
    </div>
    <div class="col-sm-4 best-for-you">
      <img
        src="../../../assets/images/IMG 3.png"
        class="img-responsive"
        alt="Girl in a jacket"
      />
      <div class="content">
        <p>spikvine spikvine spikvine spikvine  spikvine spikvine spikvine</p>
        <p>
          spikevine
        </p>
        <span class="update">By SpikeVine, 27 Oct 2021 </span>
      </div>
    </div>
    <div class="col-sm-4 best-for-you">
      <img
        src="../../../assets/images/IMG 4.png"
        class="img-responsive"
        alt="Girl in a jacket"
      />
      <div class="content">
        <p>spikvine spikvine spikvine spikvine spikvine spikvine spikvine spikvine</p>
        <p>
          spikvine spikvine spikvine spikvine spikvine spikvine spikvine spikvine
        </p>
        <span class="update">By SpikeVine, 27 Oct 2021 </span>
      </div>
    </div>
    <div class="col-sm-4 best-for-you">
      <div class="w3-display-container">
        <div class="w3-display-bottomleft w3-black w3-padding">
          Summer House
        </div>
        <img
          src="../../../assets/images/IMG 5.png"
          class="img-responsive"
          alt="Girl in a jacket"
        />
      </div>

      <div class="content">
        <p>spikvine spikvine spikvine spikvine spikvine spikvine spikvine spikvine</p>
        <p>
          spikvine spikvine spikvine spikvine spikvine spikvine spikvine spikvine
        </p>

        <span class="update">By SpikeVine, 27 Oct 2021 </span>
      </div>
     
    </div>
    <div class="col-sm-4 best-for-you">
      <img
        src="../../../assets/images/IMG 6.png"
        class="img-responsive"
        alt="Girl in a jacket"
      />
      <div class="content">
        <p>spikvine spikvine spikvine spikvine spikvine spikvine spikvine spikvine</p>
        <p>
          spikvine spikvine spikvine spikvine spikvine spikvine spikvine spikvine
        </p>
        <span class="update">By SpikeVine, 27 Oct 2021 </span>
      </div>
    </div>
  </div>
</div>
