<nav class="navbar navbar-expand-lg navbar-light">
  <a class="navbar-brand d-lg-none" href="index.html">
    <img src="assets/images/logo.png" alt="logo"
  /></a>
  <button
    class="navbar-toggler"
    type="button"
    data-toggle="collapse"
    data-target="#navbarSupportedContent"
    aria-controls="navbarSupportedContent"
    aria-expanded="false"
    aria-label="Toggle navigation"
  >
    <span class="navbar-toggler-icon"></span>
  </button>

  <div class="collapse navbar-collapse" id="navbarSupportedContent">
    <ul class="navbar-nav mr-auto">
      <li class="nav-item active">
        <a class="nav-link" href="#"
          >Ambassadors <span class="sr-only">(current)</span></a
        >
      </li>
      <li class="nav-item">
        <a class="nav-link" href="#">Creator</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" href="#">Brand</a>
      </li>
    </ul>
    <ul>
      <a href="#"
        ><img class="topnav-centered" src="assets/images/logo.png" alt="logo"
      /></a>
    </ul>
    <ul class="navbar-nav my-2 my-lg-0">
      <li class="nav-item">
        <a class="nav-link" href="#">About</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" href="#">Success Stories</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" href="#">Help center</a>
      </li>
    </ul>
  </div>
</nav>
<div class="container">
  <div class="row">
    <div class="">
      <div class="card-holder">
        <div class="leftdiv">
          <div>
            <div class="card bg-news">
              <div class="leftDiv" style="clear: left">
                <div class="whitepapers">
                  <div class="whiteheader-title">White Papers</div>
                  <div class="whitepapers-content">
                    The best resources for deeper insights on how you can
                    utliizse ambassadors micro-influencer marketing to enage
                    your community and grow your brand.
                  </div>

                  <div class="white-papers-form">
                    <h1>Contact Us</h1>
                    <span *ngIf="success">Your Message has been sent.</span>
                    <span *ngIf="showEmailError" class="showEmailError"
                      >Enter valid Email Id.</span
                    >
                    <form
                      #contactForm="ngForm"
                      (ngSubmit)="contactFormData(contactForm.value)"
                    >
                      <input
                        type="text"
                        class="customer_name-input"
                        placeholder="Name"
                        [(ngModel)]="customer_name"
                        name="customer_name"
                        id="customer_name"
                        autocomplete="off"
                      />

                      <input
                        type="text"
                        class="LastName-input"
                        placeholder="Email"
                        [(ngModel)]="customer_email"
                        name="customer_email"
                        id="customer_email"
                        autocomplete="off"
                      />
                      <input
                        type="text"
                        class="customer_message"
                        placeholder="Message"
                        name="customer_message"
                        id="customer_message"
                        [(ngModel)]="customer_message"
                        autocomplete="off"
                      />

                      <button
                        class="search-btn-block search-btn"
                        [disabled]="
                          !customer_message || !customer_email || !customer_name
                        "
                        type="submit"
                      >
                        Submit
                      </button>
                    </form>
                  </div>
                </div>
              </div>
              <br />
              <div class="rightDiv">
                <img
                  class="header-img"
                  src="../../../assets/images/Header.png"
                />
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>

<app-best-for-you></app-best-for-you>
<div class="container">
  <div class="row demo">
    <div class="leftDiv-demo">
      <!-- 
      <div class="demo-content">
      <p>We'll help you activate your customers, followers and fans and meet your revenue goals.  </p> 
      <button
      class="search-btn-block search-btn">
      Book a Demo
    </button>
      </div> -->

      <div class="demo-content">
        <div class="whiteheader-title demo-title">
          Start Your Ambassador Marketing Journey Today.
        </div>
        We'll help you activate your customers, followers and fans and meet your
        revenue goals.
        <button class="btn-grad">Book Demo</button>
      </div>
    </div>
    <div class="rightDiv">
      <img class="header-img" src="../../../assets/images/Header.png" />
    </div>
  </div>
</div>
<app-footer></app-footer>
